[Desktop Entry]
Exec=gksu -- /usr/sbin/mkpersistenthome
Name[de]=Permanentes KANOTIX-Heimverzeichnis einrichten
Name=Create a persistent KANOTIX home directory
Icon=mkpersistenthome
Type=Application
