[Desktop Entry]
Exec=su-me /usr/sbin/mkpersistenthome
Name[de]=Permanentes Sidux-Heimverzeichnis einrichten
Name=Create a persistent Sidux home directory
Icon=mkpersistenthome
Type=Application
