[Desktop Entry]
Exec=su-me /usr/sbin/mkpersistenthome
Name[de]=Permanentes sidux-Heimverzeichnis einrichten
Name=Create a persistent sidux home directory
Icon=mkpersistenthome
Type=Application
